.hover-container {
  display: flex;
  justify-content: center;
}
.tag-container {
  display: flex;
  height: 4em !important;
}
.btn.tag {
  color: #007cde;
}
.tag {
  flex: auto;
  line-height: 1 !important;
  padding: 0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0.25rem;
}
