.loading-area {
  display: flex;
  width: 100%;
  position: fixed;
  top: 50%;
  z-index: 100;
  justify-content: center;
}

.spinner {
  animation: spinner 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  position: absolute;
  z-index: 100;
  width: 100%;
  max-width: 175px;
  display: -webkit-box;
}

@media (max-width: 498px) {
  .spinner {
    max-width: 100px;
  }
}

@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}
