.calendar-date-container {
  flex-flow: column;
  align-items: center;
}

/* Styles to overwrite coverImage and Countdown styles. */
.calendar-items-container {
  border: #a3cfff 2px solid;
  background: #eaecff;
  padding: 1em 0;
}
.calendar-items-container > .swiper-container {
  /* border: yellowgreen 2px solid; */
  background: aliceblue;
  padding: 1em 0;
}
.calendar-items-container > .swiper-container > .swiper-pagination {
  bottom: 0 !important;
}
.calendar-items-slide {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
.calendar-items-slide > .img-spot {
  flex-direction: column;
}
.calendar-items-slide > .img-spot > .countdown {
  position: unset;
}
.img-spot > a > div {
  bottom: 2%;
}
.calendar-image {
  width: 230px;
  height: 325px;
  position: relative;
  top: 6.7%;
}
