/* styles for the countdown colours, airing:green, tomorrow:blue, daysAway:red  */
.calendar-date-container:not(:nth-child(3))
  > .calendar-items-container
  > .swiper-container
  > .swiper-wrapper
  > .calendar-items-slide
  > .img-spot
  > time {
  background-color: #ff1616;
}
.calendar-date-container:nth-child(3)
  > .calendar-items-container
  > .swiper-container
  > .swiper-wrapper
  > .calendar-items-slide
  > .img-spot
  > time {
  background-color: #4d94e2;
}
.calendar-date-container:nth-child(2)
  > .calendar-items-container
  > .swiper-container
  > .swiper-wrapper
  > .calendar-items-slide
  > .img-spot
  > time {
  background-color: #08ae31;
}
